.hierarchy-view {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--tree-view-background-color);
  contain: size;
  overflow: hidden;
  user-select: none;
}

.hierarchy-view-header {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 4px 8px;
  border-bottom: 1px solid var(--panel-heading-border-color);
  background-color: var(--panel-heading-background-color);
}

.hierarchy-view-direction {
  color: var(--text-color-highlight);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hierarchy-view-list {
  flex: 1;
  overflow: auto;
  padding: 0 10px 0 5px;
}

.hierarchy-view .icon::before {
  font-size: var(--font-size);
}

.hierarchy-view ul.hierarchy-view-tree {
  list-style-type: none;
  padding-left: 0;
}

.hierarchy-view ul.hierarchy-view-tree-root {
  position: relative;
  min-width: min-content;
}

.hierarchy-view ul.hierarchy-view-tree ul.hierarchy-view-tree {
  padding-left: 17px;
}

.hierarchy-view .hierarchy-view-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.hierarchy-view li.hierarchy-view-entry.selected > .hierarchy-view-item {
  background-color: var(--background-color-selected);
}

.hierarchy-view .hierarchy-view-name::before {
  flex: none;
  position: relative;
  top: -1px;
  text-align: center;
  margin-right: 5px;
}

.hierarchy-view .hierarchy-view-count {
  flex: none;
  margin-left: 6px;
}

.hierarchy-view .hierarchy-view-detail {
  margin-left: 6px;
  color: var(--text-color-subtle);
  font-size: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hierarchy-view ul.background-message {
  padding-top: 50px;
  text-align: center;
  list-style-type: none;
}
